{% macro dockerStage() %}
# Staged baselayout builder
FROM alpine:latest AS baselayout
RUN apk add --no-cache ca-certificates wget \
    && update-ca-certificates \
    && wget -O /tmp/baselayout-install.sh https://raw.githubusercontent.com/webdevops/Docker-Image-Baselayout/master/install.sh \
    && sh /tmp/baselayout-install.sh /baselayout
{% endmacro %}

{% macro copy() %}
# Baselayout copy (from staged image)
COPY --from=baselayout /baselayout /
{% endmacro %}
