{% macro lang() -%}
# Ensure UTF-8
ENV LANG       en_US.UTF-8
ENV LC_ALL     en_US.UTF-8
{%- endmacro %}

{% macro homePath() -%}
ENV DOCKER_CONF_HOME /opt/docker/
{%- endmacro %}

{% macro mailbox() -%}
ENV MAILBOX_USERNAME "sandbox"
ENV MAILBOX_PASSWORD "mail"
{%- endmacro %}

{% macro web() -%}
ENV WEB_DOCUMENT_ROOT  /app
ENV WEB_DOCUMENT_INDEX index.php
ENV WEB_ALIAS_DOMAIN   *.vm
{%- endmacro %}

{% macro webPhp() -%}
ENV WEB_PHP_SOCKET  127.0.0.1:9000
{%- endmacro %}

{% macro webDevelopment() -%}
ENV WEB_NO_CACHE_PATTERN  "\.(css|js|gif|png|jpg|svg|json|xml)$"
{%- endmacro %}

{% macro ftp() -%}
ENV FTP_USER     application
ENV FTP_PASSWORD application
ENV FTP_UID      1000
ENV FTP_GID      1000
ENV FTP_PATH     /data/ftp/
{%- endmacro %}

{% macro app() -%}
ENV APPLICATION_USER  application
ENV APPLICATION_GROUP application
ENV APPLICATION_PATH  /app
ENV APPLICATION_UID   1000
ENV APPLICATION_GID   1000
{%- endmacro %}

{% macro liquibase(version, driver, classpath) -%}
ENV LIQUIBASE_VERSION   "{{ version }}"
ENV LIQUIBASE_DRIVER    "{{ driver }}"
ENV LIQUIBASE_CLASSPATH "{{ classpath }}"
ENV LIQUIBASE_URL       ""
ENV LIQUIBASE_USERNAME  ""
ENV LIQUIBASE_PASSWORD  ""
ENV LIQUIBASE_CHANGELOG "/liquibase/changelog.xml"
ENV LIQUIBASE_CONTEXTS  ""
ENV LIQUIBASE_OPTS      ""
{%- endmacro %}
