{% macro php() -%}
    # Enable php services
    && docker-service enable syslog \
    && docker-service enable cron
{%- endmacro %}


{% macro phpDev() -%}
    # Enable php development services
    && docker-service enable syslog \
    && docker-service enable postfix \
    && docker-service enable ssh
{%- endmacro %}

