{% macro goreplace() -%}
    ## Install go-replace
    && GOREPLACE_VERSION=1.1.2 \
    && wget -O /usr/local/bin/go-replace https://github.com/webdevops/goreplace/releases/download/$GOREPLACE_VERSION/gr-64-linux \
    && chmod +x /usr/local/bin/go-replace \
{%- endmacro %}

{% macro gologd() -%}
    ## Install go-logd
    && GOLOGD_VERSION=1.0.0 \
    && wget -O /usr/local/bin/go-crond https://github.com/webdevops/go-logd/releases/download/$GOLOGD_VERSION/go-logd-64-linux \
    && chmod +x /usr/local/bin/go-logd
{%- endmacro %}
