{% import 'Dockerfile/provision.jinja2' as provision %}

{% macro alpine(role='') -%}
# Install services
RUN chmod +x /opt/docker/bin/* \
    && /usr/local/bin/apk-install \
        supervisor \
        syslog-ng \
        logrotate \
        wget \
        curl \
        sed \
        gnupg \
    && chmod +s /usr/local/bin/gosu \
    {{ provision.runRoleInline('base', role) }}
{%- endmacro %}


{% macro centos(role='') -%}
# Install services
RUN chmod +x /opt/docker/bin/* \
    && /usr/local/bin/yum-install \
        cronie \
        supervisor \
        syslog-ng \
        logrotate \
        wget \
        curl \
        net-tools \
        gnupg2 \
    && chmod +s /usr/local/bin/gosu \
    {{ provision.runRoleInline('base', role) }}
{%- endmacro %}


{% macro debian(role='') -%}
# Install packages
RUN chmod +x /opt/docker/bin/* \
    && /usr/local/bin/apt-install \
        supervisor \
        syslog-ng \
        syslog-ng-core \
        logrotate \
        cron \
        wget \
        curl \
        net-tools \
        gnupg \
    && chmod +s /usr/local/bin/gosu \
    {{ provision.runRoleInline('base', role) }}
{%- endmacro %}


{% macro ubuntu(role='') -%}
# Install services
RUN chmod +x /opt/docker/bin/* \
    && /usr/local/bin/apt-install \
        supervisor \
        syslog-ng \
        syslog-ng-core \
        logrotate \
        cron \
        wget \
        curl \
        net-tools \
        gnupg \
    && chmod +s /usr/local/bin/gosu \
    {{ provision.runRoleInline('base', role) }}
{%- endmacro %}
