{% import 'Dockerfile/docker.jinja2' as docker %}
{% import 'Dockerfile/provision.jinja2' as provision %}

{% macro alpine(role='') -%}
RUN /usr/local/bin/apk-install-edge shadow \
    && /usr/local/bin/apk-install \
        # Install common tools
        sudo \
        zip \
        unzip \
        bzip2 \
        wget \
        curl \
        net-tools \
        drill \
        ldns \
        openssh-client \
        rsync \
        git \
        nano \
        vim \
    {{ provision.runRoleInline('base-app', role) }} \
    {{ docker.cleanup() }}
{%- endmacro %}


{% macro centos(role='') -%}
# Install services
RUN /usr/local/bin/yum-install \
        # Install tools
        sudo \
        zip \
        unzip \
        bzip2 \
        wget \
        curl \
        net-tools \
        moreutils \
        dnsutils \
        bind-utils \
        rsync \
        git \
        pygpgme \
        nano \
        vim \
    && /usr/local/bin/generate-locales \
    {{ provision.runRoleInline('base-app', role) }} \
    {{ docker.cleanup() }}
{%- endmacro %}


{% macro debian(role='') -%}
# Install services
RUN /usr/local/bin/apt-install \
        # Install common tools
        sudo \
        zip \
        unzip \
        bzip2 \
        wget \
        curl \
        net-tools \
        moreutils \
        dnsutils \
        openssh-client \
        rsync \
        git \
        nano \
        vim \
    && /usr/local/bin/generate-locales \
    {{ provision.runRoleInline('base-app', role) }} \
    {{ docker.cleanup() }}
{%- endmacro %}

{% macro debian9(role='') -%}
# Install services
RUN /usr/local/bin/apt-install \
        # Install common tools
        sudo \
        zip \
        unzip \
        bzip2 \
        wget \
        curl \
        net-tools \
        moreutils \
        dnsutils \
        openssh-client \
        rsync \
        git \
        nano \
        vim \
    && /usr/local/bin/generate-locales \
    {{ provision.runRoleInline('base-app', role) }} \
    {{ docker.cleanup() }}
{%- endmacro %}

{% macro ubuntu(role='') -%}
# Install services
RUN /usr/local/bin/apt-install \
        # Install common tools
        sudo \
        zip \
        unzip \
        bzip2 \
        wget \
        curl \
        net-tools \
        moreutils \
        dnsutils \
        openssh-client \
        rsync \
        git \
        nano \
        vim \
    && mkdir -p /var/lib/syslog-ng/ \
    && /usr/local/bin/generate-locales \
    {{ provision.runRoleInline('base-app', role) }} \
    {{ docker.cleanup() }}
{%- endmacro %}
