{% import 'Dockerfile/docker.jinja2' as docker %}

{% macro alpine() -%}
# Init bootstrap
RUN set -x \
    # Add community
    && echo http://dl-4.alpinelinux.org/alpine/v3.6/community/ >> /etc/apk/repositories \
    # System update
    && /usr/local/bin/apk-upgrade \
    # Install base stuff
    && /usr/local/bin/apk-install \
        bash \
        ca-certificates \
        openssl \
    && update-ca-certificates \
    && /usr/local/bin/generate-dockerimage-info \
    ## Fix su execution (eg for tests)
    && mkdir -p /etc/pam.d/ \
    && echo 'auth sufficient pam_rootok.so' >> /etc/pam.d/su \
    {{ docker.cleanup() }}
{%- endmacro %}



{% macro centos() -%}
# Init bootstrap
RUN set -x \
    # System update
    && /usr/local/bin/yum-upgrade \
    && /usr/local/bin/yum-install \
        epel-release \
    && /usr/local/bin/generate-dockerimage-info \
    {{ docker.cleanup() }}
{%- endmacro %}


{% macro debian(distribution) -%}
# Init bootstrap
RUN set -x \
    && apt-update \
    && /usr/local/bin/generate-dockerimage-info \
    # Enable non-free
    && sed -ri "s/(deb.*\/debian $(docker-image-info dist-codename) main)/\1 contrib non-free /" -- /etc/apt/sources.list \
    && apt-update \
    # System update
    && /usr/local/bin/apt-upgrade \
    # Base stuff
    && /usr/local/bin/apt-install \
        apt-transport-https \
        ca-certificates \
        locales \
    {{ docker.cleanup() }}
{%- endmacro %}


{% macro ubuntu12() -%}
# Init bootstrap
RUN set -x \
    # Add multiverse
    && echo "deb http://archive.ubuntu.com/ubuntu/ precise-security multiverse" >> /etc/apt/sources.list \
    && echo "deb-src http://archive.ubuntu.com/ubuntu/ precise-security multiverse" >> /etc/apt/sources.list \
    && echo "deb http://archive.ubuntu.com/ubuntu/ precise multiverse" >> /etc/apt/sources.list \
    && echo "deb-src http://archive.ubuntu.com/ubuntu/ precise multiverse" >> /etc/apt/sources.list \
    && apt-update \
    # System update
    && /usr/local/bin/apt-upgrade \
    # Install base stuff
    && /usr/local/bin/apt-install \
        apt-transport-https \
        python-software-properties \
        ca-certificates \
        apt-transport-https \
    && /usr/local/bin/generate-dockerimage-info \
    {{ docker.cleanup() }}
{%- endmacro %}


{% macro ubuntu() -%}
# Init bootstrap
RUN set -x \
    && apt-update \
    # System update
    && /usr/local/bin/apt-upgrade \
    # Install base stuff
    && /usr/local/bin/apt-install \
        ca-certificates \
        apt-transport-https \
    && apt-add-repository multiverse \
    && apt-update \
    && /usr/local/bin/generate-dockerimage-info \
    {{ docker.cleanup() }}
{%- endmacro %}

