{% import 'Dockerfile/docker.jinja2' as docker %}
{% import 'Dockerfile/provision.jinja2' as provision %}

{% macro env() -%}
ENV CERTBOT_EMAIL  ""
ENV CERTBOT_DOMAIN  ""
{%- endmacro %}

{% macro alpine() -%}
RUN /usr/local/bin/apk-install \
        python \
        py-crypto \
        py2-pip \
        py2-dnspython \
        certbot \
    && pip install --upgrade pip \
    && hash -r \
    && pip install pyRFC3339 configobj ConfigArgParse \
    {{ docker.cleanup() }}
{%- endmacro %}
