{% import 'Dockerfile/docker.jinja2' as docker %}
{% import 'Dockerfile/provision.jinja2' as provision %}

{% macro ubuntu(role='') -%}
# Install services
RUN /usr/local/bin/apt-install \
        liquidsoap \
    {{ docker.cleanup() }}
{%- endmacro %}
