{% import 'Dockerfile/docker.jinja2' as docker %}
{% import 'Dockerfile/provision.jinja2' as provision %}

{% macro alpine(role='') -%}
    # Install nginx
    && apk-install \
        nginx
{%- endmacro %}


{% macro centos(role='') -%}
    # Install tools
    && yum-install \
        nginx
{%- endmacro %}

{% macro debian(role='',osCodename='buster') -%}
    # Install nginx
    && printf "deb http://nginx.org/packages/debian/ {{ osCodename }}  nginx\n deb-src http://nginx.org/packages/debian/ {{ osCodename }} nginx" \
    >> /etc/apt/sources.list \
    && curl -L https://nginx.org/keys/nginx_signing.key | apt-key add - \
    && apt-get update \
    && apt-install \
    nginx
{%- endmacro %}


{% macro ubuntu(role='') -%}
    # Install nginx
    && apt-install \
        nginx
{%- endmacro %}
