{% import 'Dockerfile/docker.jinja2'    as docker %}
{% import 'Dockerfile/provision.jinja2' as provision %}
{% import 'Dockerfile/services.jinja2'  as services %}


{% macro alpine(role='') -%}
    # Install development environment
    && apk-install \
        # Install tools
        graphviz \
        # Tools
        nano \
        vim \
    && apk-install gcc php5-dev autoconf --virtual .pecl-deps \
    && pecl install xdebug-2.5.5 \
    && apk del .pecl-deps \
    {{ services.phpDev() }}
{%- endmacro %}


{% macro centos(role='') -%}
    # Install development environment
    && wget -O - "https://packages.blackfire.io/fedora/blackfire.repo" | tee /etc/yum.repos.d/blackfire.repo \
    && yum-install \
        # Install tools
        graphviz \
        # Install php development stuff
        php-pecl-xdebug \
        blackfire-php \
        blackfire-agent \
        # Tools
        nano \
        vim \
    {{ services.phpDev() }}
{%- endmacro %}

{% macro webtatic(role='') -%}
    && wget -O - "https://packages.blackfire.io/fedora/blackfire.repo" | tee /etc/yum.repos.d/blackfire.repo \
    && yum-install \
        # Install tools
        graphviz \
        # Install php development stuff
        php56w-pecl-xdebug \
        blackfire-php \
        blackfire-agent \
        # Tools
        nano \
        vim \
    {{ services.phpDev() }}
{%- endmacro %}

{% macro debian(role='') -%}
    # Install development environment
    && apt-install \
        gnupg \
    && wget -O - https://packagecloud.io/gpg.key | apt-key add - \
    && echo "deb https://packages.blackfire.io/debian any main" | tee /etc/apt/sources.list.d/blackfire.list \
    && apt-install \
        # Install tools
        graphviz \
        # Install php development stuff
        php5-xdebug \
        blackfire-php \
        blackfire-agent \
        # Tools
        nano \
        vim \
    {{ services.phpDev() }}
{%- endmacro %}


{% macro ubuntu(role='') -%}
    # Install development environment
    && apt-install \
        gnupg \
    && wget -O - https://packagecloud.io/gpg.key | apt-key add - \
    && echo "deb https://packages.blackfire.io/debian any main" | tee /etc/apt/sources.list.d/blackfire.list \
    && apt-install \
        # Install tools
        graphviz \
        # Install php development stuff
        php5-xdebug \
        blackfire-php \
        blackfire-agent \
        # Tools
        nano \
        vim \
    {{ services.phpDev() }}
{%- endmacro %}
