{% import 'Dockerfile/docker.jinja2'    as docker %}
{% import 'Dockerfile/provision.jinja2' as provision %}
{% import 'Dockerfile/services.jinja2'  as services %}

{% macro alpine(role='') -%}
# Install development environment
RUN /usr/local/bin/apk-install \
        # Install tools
        graphviz \
        # Install php development stuff
        php7-xdebug \
    {{ services.phpDev() }} \
    {{ provision.runBootstrap() }} \
    {{ docker.cleanup() }}
{%- endmacro %}


{% macro centos(role='') -%}
# Install development environment
RUN wget -O - "https://packages.blackfire.io/fedora/blackfire.repo" | tee /etc/yum.repos.d/blackfire.repo \
    && /usr/local/bin/yum-install \
        # Install tools
        graphviz \
        # Install php development stuff
        php7-xdebug \
        blackfire-php \
        blackfire-agent \
    {{ services.phpDev() }} \
    {{ provision.runBootstrap() }} \
    {{ docker.cleanup() }}
{%- endmacro %}

{% macro webtatic(role='') -%}
RUN wget -O - "https://packages.blackfire.io/fedora/blackfire.repo" | tee /etc/yum.repos.d/blackfire.repo \
    && /usr/local/bin/yum-install \
        # Install tools
        graphviz \
        # Install php development stuff
        php70w-pecl-xdebug \
        blackfire-php \
        blackfire-agent \
    {{ services.phpDev() }} \
    {{ provision.runBootstrap() }} \
    {{ docker.cleanup() }}
{%- endmacro %}

{% macro debian(role='') -%}
# Install development environment
RUN /usr/local/bin/apt-install \
        gnupg \
    && wget -O - https://packagecloud.io/gpg.key | apt-key add - \
    && echo "deb https://packages.blackfire.io/debian any main" | tee /etc/apt/sources.list.d/blackfire.list \
    && /usr/local/bin/apt-install \
        # Install tools
        graphviz \
        # Install php development stuff
        php-xdebug \
        blackfire-php \
        blackfire-agent \
    {{ services.phpDev() }} \
    {{ provision.runBootstrap() }} \
    {{ docker.cleanup() }}
{%- endmacro %}

{% macro debianDotDeb(role='') -%}
# Install development environment
RUN /usr/local/bin/apt-install \
        gnupg \
    && wget -O - https://packagecloud.io/gpg.key | apt-key add - \
    && echo "deb https://packages.blackfire.io/debian any main" | tee /etc/apt/sources.list.d/blackfire.list \
    && /usr/local/bin/apt-install \
        # Install tools
        graphviz \
        # Install php development stuff
        php7.0-xdebug \
        blackfire-php \
        blackfire-agent \
    {{ services.phpDev() }} \
    {{ provision.runBootstrap() }} \
    {{ docker.cleanup() }}
{%- endmacro %}

{% macro debianSury(role='') -%}
# Install development environment
RUN /usr/local/bin/apt-install \
        gnupg \
    && wget -O - https://packagecloud.io/gpg.key | apt-key add - \
    && echo "deb https://packages.blackfire.io/debian any main" | tee /etc/apt/sources.list.d/blackfire.list \
    && /usr/local/bin/apt-install \
        # Install tools
        graphviz \
        # Install php development stuff
        php7.0-xdebug \
        blackfire-php \
        blackfire-agent \
    {{ services.phpDev() }} \
    {{ provision.runBootstrap() }} \
    {{ docker.cleanup() }}
{%- endmacro %}

{% macro ubuntu(role='') -%}
# Install development environment
RUN /usr/local/bin/apt-install \
        gnupg \
    && wget -O - https://packagecloud.io/gpg.key | apt-key add - \
    && echo "deb https://packages.blackfire.io/debian any main" | tee /etc/apt/sources.list.d/blackfire.list \
    && /usr/local/bin/apt-install \
        # Install tools
        graphviz \
        # Install php development stuff
        php-xdebug \
        blackfire-php \
        blackfire-agent \
    {{ services.phpDev() }} \
    {{ provision.runBootstrap() }} \
    {{ docker.cleanup() }}
{%- endmacro %}
