{% import 'Dockerfile/docker.jinja2' as docker %}
{% import 'Dockerfile/provision.jinja2' as provision %}

{% macro ubuntu(role='') -%}
RUN /opt/docker/bin/control.sh service.enable postfix syslog \
    {{ provision.runBootstrap() }} \
    {{ docker.cleanup() }}
{%- endmacro %}
