{% import 'Dockerfile/docker.jinja2'    as docker %}
{% import 'Dockerfile/provision.jinja2' as provision %}
{% import 'Dockerfile/services.jinja2'  as services %}


{% macro install() -%}
RUN composer create-project typo3/cms-base-distribution /app/ \
    && touch /app/web/FIRST_INSTALL \
    && chown -R application /app \
    && find /app/ -type d -exec chmod 0755 {} \; \
    && find /app/ -type f -exec chmod 0644 {} \;
VOLUME /app
{%- endmacro %}
